* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #858687;
}

h2 {
    font-family: 'Gill Sans';
    font-size: 12px;
    font-weight: 300;
    color: #D9D9D9;
    text-transform: uppercase;
    margin-right: 100px;
    margin-bottom: 18px;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 12px;
    color: #D9D9D9;
    font-weight: 300;
    margin-bottom: 18px;
}

header {
    overflow: hidden;
    padding: 36px;
}

footer {
    padding: 36px;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.social {
    margin-right: 18px;
}

.column {
    float: left;
}

.left {
    margin-right: 100px;
}
