body {
  background-color: #858687;
}

h2 {
    font-family: 'Gill Sans';
    font-size: 12px;
    text-transform: uppercase;
}

p {
    font-family: 'Garamond';
    font-size: 12px;
}

header {
    overflow: hidden;
    padding: 36px;
}

footer {
  padding: 36px;
  position: absolute;
  bottom: 0;
  width: 100%;
  
  .column {
    float: left;
  }
}
